
:root {
    --primary-color: #446380;
}

body {
    margin: 0;
    font-family: 'Kalam', sans-serif;
    padding-bottom: 40px;
}

.banner {
    width: 100%;
    margin:0;
    margin-bottom:0px;
    box-sizing: border-box;
}

img {
    margin: 0;
    margin-bottom: 0px;

}

.merch {
    width: 150px;
    margin-left: 20px;
    margin-top: 20px;
    border: 1px solid black;
    padding:5px;
    box-sizing: border-box;
    float:left;
}


a img {
    display: block;
    width: 300px; /* adjust size as needed */
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease-in-out;
}

    a img:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4), 0 12px 24px rgba(0, 0, 0, 0.25);
        transform: scale(1.05);
    }



/* Media query for smaller screens */
@media (max-width: 600px) {
    .banner {
    }

    p {
        font-size: 18px;
    }

    ol {
        font-size: 18px;
    }

    input[type="text"] {
        font-size: 18px;
        padding: 8px;
        width: 65%;
    }

    button {
        font-size: 20px;
        padding: 8px 20px;
    }
}
